mdm-cuf-somedata-bio-validators/src/main/resources/bio/somedata/v1/bio-somedata.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:mdm="http://www.va.gov/mdm-cuf/schema/v1"
           xmlns="http://www.va.gov/mdm-cuf/bio/somedata/v1"
           targetNamespace="http://www.va.gov/mdm-cuf/bio/somedata/v1"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:annox="http://jvnet.org/basicjaxb/xjc/annox"
           jaxb:extensionBindingPrefixes="annox"
           xmlns:s="http://annox.dev.java.net/io.swagger.annotations">

    <!--************************************************************************************************************************************
        MODEL OBJECTS
    *************************************************************************************************************************************-->
    <!-- READ:  
    		Rules within this schema should reflect the "add" and "update" use cases.  They'll be used to generate validation rules
    		that will be executed during an add/update.  So things like IDs which will be generated by the system can be null
    		on add cases, thus the schema needs to reflect this valid state of an object.
     -->
    
    <!-- we don't generate this, it comes out of mdm-cuf-core.  however, it's needed as it's the top of our object graph -->
    <xs:complexType abstract="true" name="abstractBio" />
 
      
    <xs:complexType name="someDataBio">
    	<xs:complexContent>
            <xs:extension base="abstractBio">
                <xs:sequence>
                    <!-- feature file has somedataId as required, but set to optional for now -->
                    <xs:element name="someDataId" type="xs:long" minOccurs="0"/>
                    <xs:element name="demoField" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    

    
</xs:schema>